<!DOCTYPE html>
<html class="ng-scope" np-app="Reple">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/topnav.ejs %>
  <div class="container">
  	<h1>Data Page</h1>
  	<h3>Data length: 0</h3>
  </div>
</body>
</html>
