<!DOCTYPE html>
<html class="ng-scope" np-app="Reple">
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/topnav.ejs %>
	<section id="originals-top-page" class="col-md-offset-2 col-md-8">
		<div class="">
		    <h1>Info Page</h1>
		</div>
	</section>
  	<hr>
	<section id="originals-page" >
		<div class="col-md-offset-1 col-md-10">
	    	<h2>originals</h2>
			<h3>Data length: <%=scope.size%></h3>
		</div>
	</section>
	<hr>
</body>
</html>
