<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body np-app="Reple">

        <% include ../partials/topnav.ejs %>
        
        <section id="jsonpage">
            <div class="container">
                <div class="title">
                    <h1>LOAD JSON</h1>
                </div>
                <div class="col-md-12">
                <form id='json-form'>
                    <div class="upload">
                        <div class="">
                            <h2>SELECT FILE</h2>
                        </div>
                        <div class="">
                            <input class="button" type="file">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-butt">
                            <input class="button" type="submit" value="SAVE">
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </section>
    </body>
</html>