<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body np-app="Reple">

    <% include ../partials/nav.ejs %>
    
        <section id="rewrite-second-page">
           <div class="container">
          <div class="write-title">
              <h1>Rewrite</h1>
          </div>
           
            </div>
            <div class="col-md-12">
            <div class="col-md-6">
            <div class="video-main">
               <video controls>
  <source src="https://media.w3.org/2010/05/sintel/trailer.mp4" type="video/webm">
</video>
         
          </div>
          <div class="image-galery">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
          </div>
          
           </div>
           <div class="col-md-6">
               <div class="rewrite-form">
                   <div class="title-write">
                  <p><span>Title</span>
                  <input type="text">
                   </p>
                  </div>
                  
                  <div class="add-input-second">
                  
           <form action="" >
 
      	<div class="input-group">
			
            
			   <input type="text" name="addmore[]" class="form-control" placeholder="Add keys">
					  <div class="input-group-btn"> 
						<button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
					  </div>
					  
			  </div>
 
        </form>
           
            </div>
             <div class="add-input-second">
                  
           <form action="" >
 
      	<div class="input-group">
			
            
			   <input type="text" name="addmore[]" class="form-control" placeholder="Add tags">
					  <div class="input-group-btn"> 
						<button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
					  </div>
					  
			  </div>
 
        </form>
           
            </div>
             <div class="area">
                 <p>Description</p>
                 <form>
<textarea rows="10" cols="30"></textarea>
                 </form>

                 
             </div>
              
               </div>
           </div>
           </div>
           <div class="col-md-12">
            <div class="main-butt-write">
                <input class="button" type="button" value="PUSH">
            </div>
            </div>
        </section>
</body>

</html>
